extends ../layouts/main.pug
block content
  .container
    header
      h1="Title: " + book.title
      h3= "Author: " + book.author || "Author not know"
      h2= "In Library: " + book.status

      a(href='/books') Go to book list
      
