extends ../layouts/main.pug

block globals
  - title = "About Us"

block content
    div.container.pt-5
        h2 Hey Lab2
        h4 This assignment belongs to Group 1.

        h4 Group 1 has two members: Lu Chen and Yingge Hu.